@import "../../style/index.css";

.container_boutons_nav {
  display: inline-block;
  height: 4vh;
  border: 3px solid var(--backgroundItemLighter);
  border-radius: 8px;
  margin: 0.5vh;
}
.bouton_nav {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-size: var(--fontSizeSmall);
  cursor: pointer;
  border-radius: 4px;
  height: 100%;
  min-width: 70px;
  border: none;
}
.bouton_nav:hover {
  background-color: var(--backgroundItemLight);
  color: var(--textColorHover);
}
