@import "../../style/index.css";

.container_boutons_nav {
  display: inline-block;
  height: 4vh;
  border: 3px solid var(--backgroundItemLighter);
  border-radius: 8px;
  margin: 2vh;
}
.bouton_nav {
  border: 1px solid var(--backgroundColor);
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-size: var(--fontSizeSmall);
  cursor: pointer;
  border-radius: 4px;
  height: 100%;
  min-width: 70px;
  padding: 0px 10px;
}
.bouton_nav:hover {
  background-color: var(--backgroundItemLight);
  color: var(--textColorHover);
  border: 1px solid var(--colorItemSecondary);
}
.linkActive {
  background-color: var(--backgroundItemLighter);
  color: var(--colorItemPrimary);
  border: 1px solid var(--colorItemPrimary);
}
.linkActive:hover {
  background-color: var(--backgroundItemLighter);
  color: var(--colorItemPrimary);
  border: 1px solid var(--colorItemPrimary);
}
