.headerOrdersList_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
}

.headerOrdersList_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw;
}

.doubleSize {
  width: 1vw;
}
