.OrdersListItem_container {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.OrdersListItem_iteration {
  text-align: center;
 width:8vw
}


.iterationListSetup_Select {
  position: relative;
  display: inline-block;
}

.iterationListSetup_Select_title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.7vw;
    
}

.iterationListSetup_Select:hover .iterationListSetup_Options_Container {
  display: block;
}

.iterationListSetup_Options_Container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0.7vw;
  z-index: 100;
  width: auto; 
  white-space: nowrap; /
}

.iterationListSetup_Options_item{
    display: flex;
    align-items: center;
    color: white;
 
}
