.appearFromBottom {
  opacity: 0;
  transform: translateY(100%);
  animation: appearFromBottom 0.5s forwards;
  overflow: hidden;
  transition: ease-in;
}

@keyframes appearFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.desapearToBottom {
  overflow: hidden;
  animation: desapearToBottom 0.5s forwards;
}

@keyframes desapearToBottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

.appearFromRight {
  opacity: 0;
  transform: translateX(100%);
  animation: appearFromBottom 0.5s forwards;
  overflow: hidden;
  transition: ease-in;
}

@keyframes appearFromBottom {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.desappearFromRight {
  opacity: 1;
  transform: translateX(0%);
  animation: desappearFromBottom 0.5s forwards;
  /* overflow: hidden; */
  transition: ease-in;
}

@keyframes desappearFromBottom {
  from {
    opacity: 0;
    transform: translateX(0%);
  }
  to {
    opacity: 1;
    transform: translateX(100);
  }
}

.fromOpacity0to1 {
  opacity: 0;
  animation: fromOpacity0to1 0.5s forwards;
}

@keyframes fromOpacity0to1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.from1pacityto0 {
  opacity: 1;
  animation: from1pacityto0 0.5s forwards;
}

@keyframes from1pacityto0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fromHeight100to0 {
  grid-template-rows: 0fr;
  animation: fromHeight100to0 0.5s forwards ease-out;
}

@keyframes fromHeight100to0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fromHeight0to100 {
  animation: fromHeight0to100 0.2s forwards ease-in-out;
  transform-origin: top;
}

@keyframes fromHeight0to100 {
  from {
    height: 0px;
    transform: scaleY(0);
  }
  to {
    height: 300px;
    transform: scaleY(1);
  }
}
