:root {
  --backgroundColor: #061015;
  --backgroundItemDark: #0e171c;
  --backgroundItemLight: #0e2530;
  --backgroundItemLighter: #234455;
  --colorItemPrimary: #15c5e0;
  --colorItemSecondary: #8dcdea;
  --colorItemSecondary: #bc60f1;
  --textColor: #e2edf3;
  --textColorHover: #ffffff;
}
