@import "../../../style/index.css";

.modal_container {
  width: 40vw;

  max-height: 100%;
  overflow-y: auto;
  position: relative;
  padding: 4vh;
  background-color: #0e2530;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.container_form {
  display: flex;
  flex-direction: column;
  transition: height 0.5s ease-out;
  gap: 3vh;
}
.modal_section {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.modal_section_row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.imageToDisplay {
  display: grid;
  width: 80%;
  grid-template-rows: 1fr;
  transition: grid-template-rows 500ms;
  border-radius: 8px;
  position: relative;
}

.imageToDisplay > div {
  overflow: hidden;
}

.imageToDisplay:hover .show_button {
  display: flex;
}
.imageToDisplay:hover {
  background-color: var(--backgroundItemLighter);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Pour Firefox */
/* Track */
::-moz-scrollbar {
  width: 10px;
}

/* Handle */
::-moz-scrollbar-thumb {
  background: #888;
}

/* Appliquer le style à toutes les scrollbars */
* {
  scrollbar-width: thin; /* Pour Firefox */
  scrollbar-color: #888 transparent; /* Pour Firefox */
}

*::-webkit-scrollbar {
  width: 10px; /* Pour Chrome */
}

*::-webkit-scrollbar-thumb {
  background: #888; /* Pour Chrome */
}
