@import "../../style/index.css";

.iconToolBar:hover {
  background-color: var(--backgroundItemLighter) !important;
}
.is-active {
  background-color: var(--colorItemPrimary) !important;
}
.is-active:hover {
  background-color: var(--colorItemPrimary) !important;
}

/* html */
.ProseMirror:focus {
  outline: none;
}
/* Editor */
.editor {
  width: calc(100% - 22px);
  height: 100%;
  border-radius: 8px;
  padding: 10px;
  border: none;
}
.editable {
  border: 1px solid white;
}

.ProseMirror-focused {
  color: white;
  border-radius: 8px;
  border: 1px solid #15c5e0;
}

/* Size */
.short {
  max-height: 80px;
  overflow-y: auto;
}
.long {
  min-height: 100px;
  max-height: 150px;
  overflow-y: auto;
}
